.navbar {
    border-radius: 15px;
    background-color: white;
    width: 20%;
    height: calc(100vh - 110px);
    position: sticky;
    top: 110px;
    display: flex;
    flex-direction: column;
}

.navbar-link {
    color: black;
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 25px;
    border-radius: 15px;
    font-size: 25px;
}

.navbar-link:hover {
    background-color: rgb(236, 233, 233);
}