.navbar {
    border-radius: 15px;
    background-color: white;
    width: 20%;
   transition: 0.2s;
   box-shadow: 3px 3px 3px aqua; 
    height: calc(100vh - 80px);
    position: sticky;
    top: 80px;
    display: flex;
    flex-direction: column;
}

.navbar-link {
    color: black;
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 25px;
    border-radius: 15px;
    font-size: 25px;
    display: flex;
    align-items: center;
}

.navbar-link:hover {
    background-color: rgb(236, 233, 233);
}

#nav-toggle-checkbox{
    display: none;
}

#nav-toggle-checkbox:checked~.navbar{
    width: 80px;
}

.nav-toggle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
    cursor: pointer;
    border-radius: 15px;
}

.nav-toggle:hover{
    background-color: rgb(236, 233, 233);
}

.navbar-link i{
    width: 25px;
    text-align: center;
}

.navbar-link span{
    margin-left: 20px;
    font-size: 25px;
}

#nav-toggle-checkbox:checked~.navbar span{
    margin-left: 0;
    display: none;
}