* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.main-div {
  background-color: green;
  min-height: 100vh;
  background-color: whitesmoke;
}

.main-container {
  max-width: 1400px;
  width: 100%;
  margin: auto;
  min-height: 100vh;
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.main-wrapper {
  border-radius: 15px;
  background-color: white;
  width: 75%;
  flex-grow: 1;
  min-height: 100vh;
  padding-left: 50px;
  padding-top: 30px;
}

html{
  scroll-behavior: smooth;
}